<div class = 'container'>
  <% if current_user.user_type == 'host' %>
    <h1 style='text-align:center'>Book <%= @cleaner.name %> for a cleaning </h1>
  <% elsif current_user.user_type == 'cleaner' %>
    <h1 style='text-align:center'>Book <%= @host.name %> for a cleaning </h1>
  <% end %>

  <%= bootstrap_form_for @booking do |f| %>
    <%= f.text_area :notes,
                    rows: 3,
                    minlength: 5,
                    maxlength: 1000,
                    placeholder: 'Leave a note for your cleaner!',
                    class: 'form-control' %>

    <%= f.hidden_field :cleaner_id, value: @cleaner.id %>
    <%= f.hidden_field :host_id,    value: @host.id    %>
    <%= f.hidden_field :requested_by_id,    value: current_user.id    %>

    <%= f.date_field :starts_at, class_name: 'form-control' %>

    <%= f.collection_select(:unit_id, @units, :id, :name) %>
    <%= f.number_field :price %>

    <%= f.submit "Book Now!", id:'client-btn', class: 'form-control btn btn-primary'  %>
  <% end %>
</div>
