<div class = 'container'>
<h1 style='text-align:center'>Book <%= @cleaner.name %> for a cleaning </h1>
<%= bootstrap_form_for @booking do |f| %>
    <%= f.text_area :notes,
                    rows: 6,
                    minlength: 5,
                    maxlength: 1000,
                    placeholder: 'Leave a note for your cleaner!',
                    class: 'form-control' %>

    <%= f.hidden_field :cleaner_id, value: @cleaner.id %>
    <%= f.hidden_field :host_id,    value: @host.id    %>

    <%= f.date_field :starts_at, class_name: 'form-control' %>

    <%= f.collection_select(:unit_id, @units, :id, :name) %>

    <%= f.submit "Book Now!", id:'client-btn', class: 'form-control btn btn-primary'  %>
    <% end %>
</div>
