<% if booking.status=='pending' && current_user.user_type =='cleaner' && booking.requested_by_id == current_user.id %>
<div class='card' id='booking-card'>
  <div id='booking-header'><%= booking.host.name %></div>
    <div id='booking-body'>
      <b><div id='request-type'> OUTGOING REQUEST </div></b>
      <div id='booking-time'><b>Reservation Date:</b> <%= booking.starts_at.to_date %></div>
      <div id='booking-price'><b>Price:</b> $<%= booking.price.to_int %></div><br>
      <div id='booking-notes'><%= truncate(booking.notes, :length => 60) %> </div>
      <div class='row'>
        <div class="col-sm-12"><%= button_to 'Cancel Request', cancel_booking_path(id: booking.id), id:'booking-btn', class: 'btn btn-primary', method: :put %></div>
      </div>
  </div>
</div>
<% elsif booking.status=='pending' && current_user.user_type =='cleaner' && booking.requested_by_id != current_user.id%>
<div class='card' id='booking-card'>
  <div id='booking-header'><%= booking.host.name %></div>
    <div id='booking-body'>
      <b><div id='request-type'> INCOMING REQUEST </div></b>
      <div id='booking-time'><b>Reservation Date:</b> <%= booking.starts_at.to_date %></div>
      <div id='booking-price'><b>Price:</b> $<%= booking.price.to_int %></div><br>
      <div id='booking-notes'><%= truncate(booking.notes, :length => 60) %> </div>
      <div class='row'>
        <div class="col-sm-6"><%= button_to 'Approve', approve_booking_path(id: booking.id), id:'booking-btn', class: 'btn btn-primary', method: :put %></div>
        <div class="col-sm-6"><%= button_to 'Deny', deny_booking_path(id: booking.id), id:'booking-btn', class: 'btn btn-primary', method: :put %></div>
      </div>
  </div>
</div>
<% elsif booking.status=='pending' && current_user.user_type =='host' && booking.requested_by_id != current_user.id%>
<div class='card' id='booking-card'>
  <div id='booking-header'><%= booking.host.name %></div>
    <div id='booking-body'>
      <b><div id='request-type'> INCOMING REQUEST </div></b>
      <div id='booking-time'><b>Reservation Date:</b> <%= booking.starts_at.to_date %></div>
      <div id='booking-price'><b>Price:</b> $<%= booking.price.to_int %></div><br>
      <div id='booking-notes'><%= truncate(booking.notes, :length => 60) %> </div>
      <div class='row'>
        <div class="col-sm-6"><%= button_to 'Approve', approve_booking_path(id: booking.id), id:'booking-btn', class: 'btn btn-primary', method: :put %></div>
        <div class="col-sm-6"><%= button_to 'Deny', deny_booking_path(id: booking.id), id:'booking-btn', class: 'btn btn-primary', method: :put %></div>
      </div>
  </div>
</div>
<% elsif booking.status=='pending' && current_user.user_type =='host' && booking.requested_by_id == current_user.id %>
<div class='card' id='booking-card'>
  <div id='booking-header'><%= booking.host.name %></div>
    <div id='booking-body'>
      <b><div id='request-type'> OUTGOING REQUEST </div></b>
      <div id='booking-time'<b>>Reservation Date:</b> <%= booking.starts_at.to_date %></div>
      <div id='booking-price'><b>Price:</b> $<%= booking.price.to_int %></div><br>
      <div id='booking-notes'><%= truncate(booking.notes, :length => 60) %> </div>
      <div class='row'>
        <div class="col-sm-12"><%= button_to 'Cancel Reservation', deny_booking_path(id: booking.id), id:'booking-btn', class: 'btn btn-primary', method: :put %></div>
      </div>
  </div>
</div>
<% elsif booking.status=='approved' %>
<div class='card' id='booking-card'>
  <div id='booking-header'><%= booking.host.name %></div>
  <div id='booking-body'>
    <div id='booking-time'><b>Reservation Date:</b> <%= booking.starts_at.to_date %></div>
    <div id='booking-price'><b>Price:</b> $<%= booking.price.to_int %></div><br>
    <div id='booking-notes'><%= truncate(booking.notes, :length => 60) %> </div>
    <div class='row'>
      <div class="col-sm-12"><%= button_to 'Cancel Reservation', cancel_booking_path(id: booking.id), id:'booking-btn', class: 'btn btn-primary', method: :put %></div>
    </div>
  </div>
</div>
<% end %>
