

<div class='container' style='background-color:white'>
  <div class='calendar-container' style='text-align:center'>
    <h1 style='margin:8rem; font-weight:200; font-size: 5rem; color:#ff7171'>6 Step Guide to syncing your Airbnb Calendars with CleanHost</h1>
     <h4>1. Navigate to your airbnb calendar in the airbnb app, select the unit you want to sync and click Availability Settings, under the Sync calendars section, select Export Calendar</h4>
      <%= render "pages/howto/image1" %>
      <h4>2. Copy this link</h4>
      <%= render "pages/howto/image2" %>
      <h4>3. In Google Calendars, in the left navigation pane, click the + next to My Calendars and select From URL </h4>
      <%= render "pages/howto/image3" %>
      <h4>4. Paste in the URL that you copied from AirBnB, click the checkbox to Make the calendar public</h4>
      <%= render "pages/howto/image4" %>
      <h4>5. Once you’ve added your calendar you will see it under Other calendars in the same navigation menu, click the 3 horizontal dots and select Settings</h4>
      <%= render "pages/howto/image5" %>
      <h4>6. Change your Calendar name to the name of your Unit </h4>
      <%= render "pages/howto/image6" %>
      <h4 style='margin:3rem'> VOILA! You’re done, now your unit's Calendar will be available on your CleanHost dashboard! Add as many calendars as you want using the same instructions!</h4>
      <h1 style='margin-top:10rem; color:#ff7171'>Pro Tip</h1>
      <h4 style='margin-left:10rem; margin-right:10rem; margin-bottom:10rem;'>Under the Listings tab in CleanHost,
      you can add your units and their addresses.
      This will allow you to view individual units
      calendars. Unlike the dashboard which shows you
      Calendars and cleanings for all units.</h4>

  </div>
</div>
