<div class="col-sm-3"id="trial">
  <b><h1 style='text-align:center' id='daysleft'><%= current_user.days_left %> Days Left</h1></b>
  <p id='endson'>Trial ends on <%= current_user.trial_end_date.strftime("%B %d") %>.</p>

  <div class="row" id='icons'>

    <div class="col-sm-3">
      <%= button_to extend_trial_path, id:'renew', method: :put do %>
        <i class="far fa-clock fa-lg"></i>
      <% end %>
    </div>

    <div class="col-sm-3">
      <%= button_to pause_trial_path, id:'pause', method: :put do %>
        <i class="fas fa-pause  fa-lg" id='pause'></i>
      <% end %>
    </div>

    <div class="col-sm-3">
      <i class="far fa-check-circle fa-lg" id='check'></i>
    </div>

    <div class="col-sm-3">
      <%= button_to suspend_path, id:'suspend', method: :put do %>
        <i class="fas fa-ban fa-lg" id='suspend'></i>
      <% end %>
    </div>

  </div>
</div>
