  <div class="col-sm-3 single-post-card" id=<%= post_path(post.id) %>>
    <div class="card">
      <div class="card-block">
        <h4 class="post-text">
          <div id='post-title'>
          <%= truncate(post.title, :length => 60) %>
          </div>
        </h4>
        <div class="post-content">
          <div class="posted-by">Posted by <%= post.user.name %></div>
          <h3><%= post.category.name %></h3>
          <p><%= post.content %></p>
          <%= link_to "I'm interested", post_path(post), class:button_to, remote: true  %>
        </div>
      </div>
    </div><!-- card -->
  </div><!-- col-sm-3 -->
  <div id='post-content'></div>
